/alldata
/new_tokenizer
/node_modules
/oscar
antras.ipynb
book.ipynb
antras.ipynb
/uzrasai
bagofwords.ipynb
dataset.csv
dataset.xlsx
decisionT.pkl
GradBoost.pkl
index.js
lsa.ipynb
lsa.pkl
ltTransfiormer.ipynb
model.py
modelTransformer
naive_bayess.pkl
package-lock.json
package.json
pradinisi.csv
randomF.pkl
svm.pkl
text.txt
transformer.pkl
transformers.ipynb
