/* css.css */

body {
  font-family: "Arial", sans-serif;
  background-color: rgb(179, 210, 218);
  margin: 0;
  padding: 0;
}
h4 {
  width: 30%;
  text-align: justify;
}
.center_all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

textarea {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.response {
  margin-top: 20px;
  min-height: 18px;
  min-height: 90px;
}

#response1,
#response2 {
  font-weight: bold;
}
.threat {
  color: orangered;
}
.nonthreat {
  color: rgb(90, 163, 18);
}
.contact {
  text-align: left;
}
