<!DOCTYPE html>
<html>
  <head>
    <title>LT sentence classification</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css.css') }}"
    />
  </head>
  <body>
    <div class="center_all">
      <h1>Sentence classification in lithuanian language</h1>
      <h4>
        This website provides a possibility to classify a lithuanian sentence in
        to the category of a <b>threatening sentence</b> or
        <b>not threatening</b>. Model Naive Bayess classify sentences with a
        higher than 80% over all accuracy. How ever the model is not perfect and
        still makes mistakes.
      </h4>
      <div class="form">
        <form id="input-form">
          <label for="input-text">Type a sentence in lithuanian</label>
          <textarea type="text" id="input-text" name="input_text"></textarea>
          <button type="submit">Patvirtinti</button>
        </form>
        <div class="response">
          <span>Prediction:</span>
          <p id="response1"></p>
        </div>
      </div>
      <div>
        <p>Made by &copy; Aušrys Mikoliūnas</p>

        <div class="contact">
          <p>Contact me:</p>
          <a href="mailto:ausrys.mikoliunas@gmail.com">
            ausrys.mikoliunas@gmail.com
          </a>
        </div>

        <div>
          <p>GitHub:</p>
          <a href="https://github.com/ausrys/magistras">
            https://github.com/ausrys
          </a>
        </div>
        <div>
          <p>Linkedin:</p>
          <a
            href="https://www.linkedin.com/in/au%C5%A1rys-mikoli%C5%ABnas-520b93214/"
            >My Linkedin
          </a>
        </div>
      </div>
    </div>

    <script>
      const form = document.querySelector("#input-form");
      form.addEventListener("submit", async (event) => {
        event.preventDefault();
        const inputText = document.getElementById("input-text").value;
        try {
          const response = await fetch("http://127.0.0.1:5000/process", {
            method: "POST",
            headers: {
              "Content-Type": "application/json", // Set the content type to JSON
            },
            body: JSON.stringify({ data: inputText }),
          });

          if (!response.ok) {
            // Handle non-OK response (e.g., 404, 500)
            throw new Error(`HTTP error! Status: ${response.status}`);
          }

          const responseData = await response.json();
          const responseElement1 = document.querySelector("#response1");
          // Remove existing classes
          responseElement1.classList.remove("threat", "nonthreat");
          responseElement1.classList.add(
            responseData.NB == "Negrasinantis" ? "nonthreat" : "threat"
          );
          responseElement1.innerText = `Naive Bayess: ${responseData.NB}`;
        } catch (error) {
          console.error("Error fetching or parsing data:", error);
        }
      });
    </script>
  </body>
</html>
